*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1047px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.jobb img{
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding: 4px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    gap: 10px;
    border: 1px solid #009973;
    background-color: #009973;
    padding: 10px;
    margin-bottom: 5px;
  
}

.menu a{
    text-decoration: none;
    color: white;
    text-align: right;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    color: #009973;
    margin-bottom: 6px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 700px;
    margin-right: 10px;
    margin-bottom: 15px;
}

td{
    padding: 20px;
}

th{
    border-bottom: 2px solid black;
    padding: 15px;
}

.bold{
    font-weight: bold;
}

.gray{
    background-color: #C8C8C8;
}

.nev{
    text-align: center;
    color: #009973;
    font-weight: 300;
}

/* {
    padding: 0;
    margin: 0;
    border:  none;
}

table {
    text-align: center;
    border-collapse: collapse;
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

td {
    padding: 20px;
    font-weight: bold;
}

tr.odd {
    background-color: lightgrey;
}

th {
    background-color: navy;
    color: gainsboro;
    font-weight: lighter;
    padding: 20px;
}

thead tr {
    background-color: navy;
}*/